.ui.card {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(255, 255, 255, 0.16) 0px 6px 12px, rgba(255, 255, 255, 0.23) 0px 6px 12px !important;
          box-shadow: rgba(255, 255, 255, 0.16) 0px 6px 12px, rgba(255, 255, 255, 0.23) 0px 6px 12px !important;
  border-radius: 5px;
}

.preview {
  max-height: 302px;
  max-width: 352px;
  height: auto;
  width: auto;
  border-radius: 5px 5px 0px 0px;
}

.card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px !important;
  height: 37px;
  padding: 7px 0 10px;
  background-color: #c3c3c3;
  color: #000;
  border-radius: 0px 0px 5px 5px;
}

.card,
.card .content {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card:hover .header {
  font-weight: bold;
  color: #fff !important;
}

.card#sutom:hover {
  -webkit-box-shadow: rgba(233, 0, 41, 0.16) 0px 3px 6px, rgba(233, 0, 41, 0.23) 0px 3px 6px;
          box-shadow: rgba(233, 0, 41, 0.16) 0px 3px 6px, rgba(233, 0, 41, 0.23) 0px 3px 6px;
}

.card#sutom:hover .content {
  background-color: #e90029;
}

.card#wordle-en:hover {
  -webkit-box-shadow: rgba(167, 128, 9, 0.16) 0px 3px 6px, rgba(167, 128, 9, 0.23) 0px 3px 6px !important;
          box-shadow: rgba(167, 128, 9, 0.16) 0px 3px 6px, rgba(167, 128, 9, 0.23) 0px 3px 6px !important;
}

.card#wordle-en:hover .content {
  background-color: #a78009;
}

.card#wordle-fr:hover {
  -webkit-box-shadow: rgba(59, 172, 67, 0.16) 0px 3px 6px, rgba(59, 172, 67, 0.23) 0px 3px 6px !important;
          box-shadow: rgba(59, 172, 67, 0.16) 0px 3px 6px, rgba(59, 172, 67, 0.23) 0px 3px 6px !important;
}

.card#wordle-fr:hover .content {
  background-color: #3bac43;
}

@media (max-width: 1380px) {
  .card {
    margin: 10px 0px;
  }
  .card img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=card.css.map */