.ui.card {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 6px 12px,
    rgba(255, 255, 255, 0.23) 0px 6px 12px !important;
  border-radius: 5px;
}

.preview {
  max-height: 302px;
  max-width: 352px;
  height: auto;
  width: auto;
  border-radius: 5px 5px 0px 0px;
}

.card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px !important;
  height: 37px;
  padding: 7px 0 10px;
  background-color: #c3c3c3;
  color: #000;
  border-radius: 0px 0px 5px 5px;
}

.card,
.card .content {
  transition: all 0.3s ease;
}

.card:hover .header {
  font-weight: bold;
  color: #fff !important;
}

.card#sutom:hover {
  .content {
    background-color: #e90029;
  }

  box-shadow: rgba(233, 0, 41, 0.16) 0px 3px 6px,
    rgba(233, 0, 41, 0.23) 0px 3px 6px;
}

.card#wordle-en:hover {
  .content {
    background-color: #a78009;
  }
  box-shadow: rgba(167, 128, 9, 0.16) 0px 3px 6px,
    rgba(167, 128, 9, 0.23) 0px 3px 6px !important;
}

.card#wordle-fr:hover {
  .content {
    background-color: #3bac43;
  }

  box-shadow: rgba(59, 172, 67, 0.16) 0px 3px 6px,
    rgba(59, 172, 67, 0.23) 0px 3px 6px !important;
}

@media (max-width: 1380px) {
  .card {
    margin: 10px 0px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
