#home {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#home p {
  width: 100%;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 20px 0px;
}

#card-container a {
  text-decoration: none;
}

#auto-promo {
  width: 100%;
  text-align: center;
}

#auto-promo a {
  color: #ffbf02;

  &:hover {
    color: #e90029;
  }
}

#auto-promo img {
  height: 36px;
  border: 0px;
  margin: 10px 0px;

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: 767.98px) {
  .cards {
    flex-direction: column;
    justify-content: center;
  }
}
