#home {
  width: 80vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home p {
  width: 100%;
  margin: 0;
  padding: 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 0px;
}

#card-container a {
  text-decoration: none;
}

#auto-promo {
  width: 100%;
  text-align: center;
}

#auto-promo a {
  color: #ffbf02;
}

#auto-promo a:hover {
  color: #e90029;
}

#auto-promo img {
  height: 36px;
  border: 0px;
  margin: 10px 0px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#auto-promo img:hover {
  opacity: 0.5;
}

@media (max-width: 767.98px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main-page.css.map */