.item#sutom.active {
  background-color: #e90029;
}

.item#sutom:hover {
  background-color: rgba(233, 0, 41, 0.2);
}

.item#wordle-en.active {
  background-color: #a78009;
}

.item#wordle-en:hover {
  background-color: rgba(166, 127, 10, 0.2);
}

.item#wordle-fr.active {
  background-color: #3bac43;
}

.item#wordle-fr:hover {
  background-color: rgba(59, 172, 67, 0.2);
}
/*# sourceMappingURL=navbar.css.map */