$sutom: #e90029;
$wordle-en: #a78009;
$wordle-fr: #3bac43;

$sutom-transparent: rgba(233, 0, 41, 0.2);
$wordle-en-transparent: rgba(166, 127, 10, 0.2);
$wordle-fr-transparent: rgba(59, 172, 67, 0.2);

.item#sutom {
  &.active {
    background-color: $sutom;
  }

  &:hover {
    background-color: $sutom-transparent;
  }
}

.item#wordle-en {
  &.active {
    background-color: $wordle-en;
  }

  &:hover {
    background-color: $wordle-en-transparent;
  }
}

.item#wordle-fr {
  &.active {
    background-color: $wordle-fr;
  }

  &:hover {
    background-color: $wordle-fr-transparent;
  }
}
