label {
  color: #fff !important;
}

#searchPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90vw;
  width: 90vw;
}

#inputs > div {
  max-width: 150px;
}

#inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#inputs,
#liste-mots {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.col-5 {
  -webkit-columns: 5;
          columns: 5;
}

#bouton-aide {
  margin: 0em 0em 0.67em 0em;
}

#erreurRecherche ul {
  list-style: inside;
}

@media (max-width: 767.98px) {
  ul,
  .col-5 {
    -webkit-columns: 1;
            columns: 1;
  }
  #inputs,
  .fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #inputs > div {
    margin-bottom: 10px;
  }
  #bouton-recherche {
    margin: 0.67em 0em;
  }
  .field {
    padding-bottom: 0.3em;
  }
}
/*# sourceMappingURL=search.css.map */