label {
  color: #fff !important;
}

#searchPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  width: 90vw;
}

#inputs > div {
  max-width: 150px;
}

#inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#inputs,
#liste-mots {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
.col-5 {
  columns: 5;
}

#bouton-aide {
  margin: 0em 0em 0.67em 0em;
}

#erreurRecherche ul {
  list-style: inside;
}

@media (max-width: 767.98px) {
  ul,
  .col-5 {
    columns: 1;
  }

  #inputs,
  .fields {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  #inputs > div {
    margin-bottom: 10px;
  }

  #bouton-recherche {
    margin: 0.67em 0em;
  }

  .field {
    padding-bottom: 0.3em;
  }
}
