@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #2b2b2b !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  background: unset;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.bold {
  font-weight: bold;
}
